* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 80%;
    min-width: 400px;
    background: #bbbbbb;
}

.header {
    margin: 40px auto;
    background: #555555;
}