body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12px;
}

.wrapper {
    margin: 50px auto;
    width: 600px;
    height: 350px;
    border: 1px solid grey;
}

.innerWrapper {
    margin: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

/* TabHolder */

.tabHolder {
    margin: 3px;
    height: 32px;
    background: lightgrey;
    border: 1px solid grey;
    border-radius: 5px;
}

.tabHolder li {
    margin-left: 6px;
    padding-top: 6px;
    display: inline-block;
    line-height: 25px;
}

.tabAnchor {
    padding: 0 5px;
    display: block;
    background-color: #eee;
    border: 1px solid #aaa;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    color: grey;
    cursor: pointer;
}

.tabAnchor:hover {
    background-color: #e8e8e8;
    color: black;
    border: 1px solid grey;
}

.tabAnchor__active, .tabAnchor__active:hover {
    background-color: white;
    color: black;
    border: 1px solid grey;
    border-bottom: 1px solid white;
}

.tabText {
    display: none;
    padding: 20px;
}

.tabText__active {
    display: block;
}

.tabText p {
    padding-bottom: 1em;
}

/* End of TabHolder */

/* Form */

.formField {
    padding: 10px 0 0 10px;
    display: block;
    height: 35px;
}

.formField label {
    display: inline-block;
    width: 70px;
}

.button{
    margin: 10px;
    padding: 5px;
    display: block;
    width: 70px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-decoration: none;
    color: grey;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #e8e8e8;
    color: black;
    border: 1px solid grey;
}

.tooltip {
    margin-left: 3px;
    padding: 5px;
    width: 210px;
    display: inline-block;
    opacity: 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 5px 1px rgba(0,0,0,0.7);
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.7);
}

/* End of Form */
