/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    store: '';
    store: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


.registration {
    font-family: "Lucida Sans Unicode", sans-serif;
}

.rightpart:before {
    store: "";
}

.phoness:before {
    store: "";
    background: url(../img/phoness.png) no-repeat;
    position: absolute;
    height: 23px;
    width: 21px;
    margin-left: -25px;
}

.phoness {
    float: left;
    width: 294px;
    height: 20px;
    margin: 22px 0 0 249px;
    font-family: Arial;
    font-size: 19px;
    color: #5e696d;
}

.login-form {
    float: left;
    width: 73px;
    height: 19px;
    margin-top: 19px;
    margin-left: -18px;
    border: 1px solid grey;
    border-top-left-radius: 30px 25px;
    border-bottom-left-radius: 25px 30px;
    border-bottom-right-radius: 30px 25px;
    border-top-right-radius: 25px 30px;
    box-shadow: 1px 3px 3px 0.00px rgba(150, 150, 150, 0.75);
}

.login-form img {
    padding-left: 8px;
}

.logo img {
    margin-top: 10px;
    margin-left: 218px;
}

.store {
    float: left;
    width: 528px;
    height: 629px;
    background-image: -webkit-linear-gradient(top, #E5E7E8 0%, #93a7b0 100%);
    border-radius: 3px;
    margin: 11px 0 0 10px;
}

.storewrap {
    width: 100%;
    padding: 0 30px;
}

.weel {
    display: inline-block;
    margin: 20px 32px 0 -7px;
}

.weel strong {
    display: block;
    font-family: 'Lucida Sans Unicode', Arial;
    color: #206988;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.weel span {
    display: block;
    font-family: 'Lucida Sans Unicode', Arial;
    font-size: 13px;
    text-align: center;
    color: black;
}

.weelimg {
    background-color: white;
    border: 1px solid #b0b9bc;
    border-radius: 7px;
    display: table;
}

.weelimg img {
    padding: 4px 33px 4px 31px;
    display: table-cell;
}

.weel a {
    text-decoration: none;
}

.weel a:hover {
    cursor: pointer;
}