.phone:before {
    content: "";
    background: url(../img/phone.png) no-repeat;
    position: absolute;
    height: 23px;
    width: 21px;
    margin-left: -25px;
}
.phone {
    float: left;
    width: 294px;
    height: 20px;
    margin: 22px 0 0 249px;
    font-family: Arial;
    font-size: 19px;
    color: #5e696d;
}
.form {
    float: left;
    width: 495px;
    height: 25px;
    margin: 17px 0 0 -13px;
    border: 1px solid #1a5879;
    background: rgba(26, 88, 121, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(26, 88, 121, 1)), color-stop(2%, rgba(26, 87, 120, 1)), color-stop(100%, rgba(14, 55, 91, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a5879', endColorstr='#0e375b', GradientType=1);
    -webkit-box-shadow: 2px 2px 6px -3px rgba(150, 150, 150, 1);
    -moz-box-shadow: 2px 2px 6px -3px rgba(150, 150, 150, 1);
    box-shadow: 2px 2px 6px -3px rgba(150, 150, 150, 1);
    border-radius: 3px;
    font-family: "Lucida Sans Unicode";
    font-size: 12px;
}
 form {
     padding-left: 23px;
     padding-top: 5px;
 }
.form img {
    position: absolute;
    top: 22px;
    left: 538px;
}
.form input {
    width: 109px;
    height: 12px;
    padding-left: 2px;
    margin-left: 1px;
    margin-right: 1px;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
}
.enter {
    padding-top: 2px;
    padding-left: 7px;
    cursor: pointer;
    color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
}
.registration {
    height: 10px;
    padding-left: 4px;
    border-left: 1px solid white;
    cursor: pointer;
    color: white;
    font-family: "Lucida Sans Unicode";
    font-size: 11px;
}
.forgotpass {
    margin-left: 14px;
    color: #a8afb3;
}
.forgotpass:hover {
    cursor: pointer;
    text-decoration: underline;
}
.upmenu {
    float: left;
    width: 73px;
    height: 19px;
    margin-top: 19px;
    margin-left: 17px;
    border: 1px solid grey;
    border-top-left-radius: 30px 25px;
    border-bottom-left-radius: 25px 30px;
    border-bottom-right-radius: 30px 25px;
    border-top-right-radius: 25px 30px;
}
.upmenu img {
    padding-left: 8px;
}
.logo img {
    margin-top: 10px;
    margin-left: 218px;
}
.menu {
    width: 799px;
    height: 30px;
    margin-top: 3px;
    margin-left: 216px;
    padding-top: 5px;
    padding-left: 114px;
    border-radius: 6px;
    background: rgba(70,77,84,1);
    background: -moz-linear-gradient(top, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,77,84,1)), color-stop(1%, rgba(70,77,84,1)), color-stop(5%, rgba(70,77,84,1)), color-stop(10%, rgba(70,77,84,1)), color-stop(20%, rgba(44,44,44,1)), color-stop(51%, rgba(15,16,17,1)), color-stop(91%, rgba(15,16,17,1)), color-stop(99%, rgba(15,16,17,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464d54', endColorstr='#131313', GradientType=0 );
    box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.2);

}
.leftpart li {
    float: left;
    display: inline-block;
    color: #b1bcc0;
    font-family: "Lucida Sans Unicode";
    font-size: 14px;
    text-transform: uppercase;
}
.leftpart li:nth-child(1) {
    padding: 5px 16px 6px 21px;
    margin-left: 12px;
    margin-top:1px;
}
.leftpart li:nth-child(2) {
    padding: 6px 16px 4px 13px;
    margin-left: 3px;
}
.leftpart li:nth-child(3) {
    padding: 6px 11px 4px 9px;
    margin-left: 3px;
}
.leftpart li:nth-child(4) {
    padding: 6px 11px 4px 9px;
    margin-left: 9px;
}
.leftpart li:nth-child(5) {
    padding: 6px 10px 4px 9px;
    margin-left: 4px;
}
.leftpart li:hover {
    background-color: #1c5e7e;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-top-left-radius: 30px 25px;
    border-bottom-left-radius: 25px 30px;
    border-bottom-right-radius: 30px 25px;
    border-top-right-radius: 25px 30px;
}
.rightpart:before {
    content: "";
    background: url(../img/backet.png) no-repeat;
    position: absolute;
    height: 23px;
    width: 20px;
    top: 305px;
    left: 900px;
}
.rightpart {
    margin-left: 573px;
}
.rightpart li {
    display: inline-block;
    color: #72797d;
    font-family: Arial;
    font-size: 11px;
}
.rightpart li:nth-child(1) {
    margin: 6px 0 0 26px;
    padding: 0 -1px 0 0;
    font-size: 11px;
}
.rightpart li:nth-child(2) {
    margin-top: 5px;
    color: #0d5a8f;
    font-size: 13px;
}
.rightpart li:nth-child(3) {
    margin: 6px 0 0 11px;
    font-size: 11px;
}
.rightpart li:nth-child(4) {
    margin-left: 5px;
    color: #0d5a8f;
    font-family: Arial;
    font-size: 13px;
}
.find {
    margin-top: 8px;
    margin-left: 218px;
}
.sidebar {
     position: relative;
     float: left;
     width: 181px;
     margin: 14px 0 0 216px;
 }
.sidebar2 {
    position: relative;
    float: left;
    width: 181px;
    margin: 8px 0 0 9px;
}
.plus {
     border: 1px solid #949fa4;
     border-radius: 12px;
     -webkit-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
     -moz-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
     box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
     position: relative;
 }
.plustext {
    display: inline-block;
    padding: 7px 0px 2px 25px;
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial;
    font-size: 13px;
}
.plus img {
    position: absolute;
    margin-left: 2px;
}
.plus2 {
    border: 1px solid #949fa4;
    border-radius: 12px;
    -webkit-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    position: relative;
}
.plustext2 {
    display: inline-block;
    padding: 7px 0px 3px 30px;
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial;
    font-size: 13px;
}
.plus2 img {
    position: absolute;
    margin-left: 2px;
}
.filter {
    position: relative;
    margin-top: 15px;
    width: 149px;
    border: 1px solid #949fa4;
    border-radius: 12px;
    -webkit-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
}
.filter img {
    position: absolute;
    margin-left: 6px;
}
.dropdisck {
    position: relative;
    margin-top: 29px;
    width: 149px;
    border: 1px solid #949fa4;
    border-radius: 12px;
    -webkit-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
}
.dropdisck img {
    position: absolute;
    margin-left: 6px;
}
.dropshine {
    position: relative;
    margin-top: 26px;
    width: 149px;
    border: 1px solid #949fa4;
    border-radius: 12px;
    -webkit-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
}
.dropshine img {
    position: absolute;
    margin-left: 6px;
}
.filter2 {
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
    width: 135px;
    border: 1px solid #949fa4;
    border-radius: 12px;
    -webkit-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
}
.filter2 img {
    position: absolute;
    margin-left: 2px;
}
.plustitle {
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial;
    font-size: 15px;
    display: inline-block;
    padding: 6px 6px 5px 28px;
}
.sidetable {
    list-style: circle;
    margin-top: 5px;
    padding: 3px 0px 0px 56px;
}
.sidetable a {
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial;
    font-size: 13px;
    text-decoration: none;
    padding-bottom: 2px;
}
.sidetable li:hover {
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    text-decoration: underline;
}
.content {
    float: left;
    width: 528px;
    height: 629px;
    background-image: -webkit-linear-gradient(top, #E5E7E8 0%, #93a7b0 100%);
    border-radius: 3px;
    margin: 8px 0 0 10px;
}
.sidetable2 {
    margin-top: 5px;
    padding: 3px 0px 0px 20px;
}
.sidebar2 button {
    background-color: #195779;
    border-radius: 19px;
    border-style: none;
    margin: 27px 22px;
}
.sidebar2 button:hover {
    cursor: pointer;
}
.sidebar2 button span {
    color: #e5e9ea;
    font-family: Arial;
    font-size: 13px;
    display: inline-block;
    padding: 5px 5px;
}
.margin {
    margin-left: 14px;
}
span.brand {
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial;
    font-size: 13px;
    display: inline-block;
    padding: 0px 0px 2px 3px;
}
span.brand:hover {
    cursor: pointer;
}

.contentwrap {
    width: 100%;
    padding: 0 30px;
}

.tire {
    display: inline-block;
    margin: 17px 32px 11px -8px;
}

.tire strong {
    display: block;
    font-family: 'Lucida Sans Unicode', Arial;
    color: #206988;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.tire span {
    display: block;
    font-family: 'Lucida Sans Unicode', Arial;
    font-size: 13px;
    text-align: center;
    color: black;
}

.tireplus {
    background-color: white;
    border: 1px solid #b0b9bc;
    border-radius: 7px;
    display: table;
}

.tireplus img {
    padding: 4px 33px 4px 31px;
    display: table-cell;
}

span.prices {
    margin-top: 4px;
    margin-left: 13px;
    color: #114165;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.tire a {
    text-decoration: none;
}

.tire a:hover {
    cursor: pointer;
}

.logotipes {
    width: 900px;
    margin-top: 659px;
    margin-left: 208px;
    margin-bottom: 10px;
    padding: 14px;
}

.logoplus {
    text-align: center;
    width: auto;
}

.logoplus img {
    padding-right: 8px;
}

.logoplus a{
    display: inline-block;
    vertical-align: middle;
}

.logoplus a:hover {
    cursor: pointer;
}

footer {
    padding-top: 5px;
    width: 910px;
    background-color: #213a4d;
    overflow: hidden;
    margin-left: 218px;
}

a.footercontact {
    border-right: 1px solid transparent;
}

footer ul {
    list-style: none;
    background-color: #213a4d;
}

footer li {
    display: inline-block;
    padding: 5px;
}

.footer {
    text-align: center;
}

footer li a {
    background-color: #213a4d;
    color: #bec6c9;
    text-decoration: none;
    font-size: 12px;
    padding: 0px 5px;
    border-right: 2px solid #7f8e97;
    line-height: 2px;
    font-family: Arial;
}

footer li a:hover {
    cursor: pointer;
    color: #52abcb;
}

.copyright{
    color: #7f4740;
    font-size: 10px;
    font-family: Arial;
    display: block;
    padding: 9px 0px 49px 0px;
    text-align: center;
}
