.phone:before {
    content: "";
    background: url(../img/phone.png) no-repeat;
    position: absolute;
    height: 23px;
    width: 21px;
    margin-left: -25px;
}
.phone {
    float: left;
    width: 294px;
    height: 20px;
    margin: 22px 0 0 249px;
    font-family: Arial;
    font-size: 19px;
    color: #5e696d;
}
.form {
    float: left;
    width: 545px;
    height: 26px;
    margin: 16px 0 0 -48px;
    padding-left: 19px;
    border: 1px solid #1a5879;
    background: rgba(26, 88, 121, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(26, 88, 121, 1)), color-stop(2%, rgba(26, 87, 120, 1)), color-stop(100%, rgba(14, 55, 91, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(26, 88, 121, 1) 0%, rgba(26, 87, 120, 1) 2%, rgba(14, 55, 91, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a5879', endColorstr='#0e375b', GradientType=1);
    -webkit-box-shadow: 2px 2px 6px -3px rgba(150, 150, 150, 1);
    -moz-box-shadow: 2px 2px 6px -3px rgba(150, 150, 150, 1);
    box-shadow: 1px 3px 3px 0.00px rgba(150, 150, 150, 0.75);
    border-radius: 3px;
    font: 400 12px / 28px 'Lucida Sans Unicode', sans-serif;
    transform: scale(0.877,0.909);
}
.form img {
    position: absolute;
    top: 5px;
    left: 8px;
}
.form input {
    width: 142px;
    height: 14px;
    padding-left: 3px;
    margin-left: 0px;
    margin-right: -15px;
    padding-top: 2px;
    font: 400 12px / 28px 'Lucida Sans Unicode', sans-serif;
    transform: scale(0.877,0.909);
}
.enter {
    padding-left: 10px;
    cursor: pointer;
    color: white;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 11px;
}
.registration {
    margin-left: 5px;
    padding-left: 7px;
    border-left: 1px solid white;
    cursor: pointer;
    color: white;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 11px;
}
.forgotpass {
    border-bottom: 1px solid grey;
    margin-left: 28px;
    color: #a8afb3;
    font-size: 13px;
}
.forgotpass:hover {
    cursor: pointer;
    text-decoration: underline;
}
.upmenu {
    float: left;
    width: 73px;
    height: 19px;
    margin-top: 19px;
    margin-left: -18px;
    border: 1px solid grey;
    border-top-left-radius: 30px 25px;
    border-bottom-left-radius: 25px 30px;
    border-bottom-right-radius: 30px 25px;
    border-top-right-radius: 25px 30px;
    box-shadow: 1px 3px 3px 0.00px rgba(150, 150, 150, 0.75);
}
.upmenu img {
    padding-left: 8px;
}
.logo img {
    margin-top: 10px;
    margin-left: 218px;
}
.menu {
    width: 799px;
    height: 30px;
    margin-top: 3px;
    margin-left: 216px;
    margin-bottom: 148px;
    padding-top: 5px;
    padding-left: 114px;
    border-radius: 6px;
    background: rgba(70,77,84,1);
    background: -moz-linear-gradient(top, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(70,77,84,1)), color-stop(1%, rgba(70,77,84,1)), color-stop(5%, rgba(70,77,84,1)), color-stop(10%, rgba(70,77,84,1)), color-stop(20%, rgba(44,44,44,1)), color-stop(51%, rgba(15,16,17,1)), color-stop(91%, rgba(15,16,17,1)), color-stop(99%, rgba(15,16,17,1)), color-stop(100%, rgba(19,19,19,1)));
    background: -webkit-linear-gradient(top, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    background: -o-linear-gradient(top, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    background: -ms-linear-gradient(top, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    background: linear-gradient(to bottom, rgba(70,77,84,1) 0%, rgba(70,77,84,1) 1%, rgba(70,77,84,1) 5%, rgba(70,77,84,1) 10%, rgba(44,44,44,1) 20%, rgba(15,16,17,1) 51%, rgba(15,16,17,1) 91%, rgba(15,16,17,1) 99%, rgba(19,19,19,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464d54', endColorstr='#131313', GradientType=0 );
    box-shadow: 1px 3px 5px 0.00px rgba(0, 0, 0, 0.75);

}
.info li {
    float: left;
    display: inline-block;
    color: #b1bcc0;
    font-family: "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.info li:nth-child(1) {
    padding: 5px 16px 5px 21px;
    margin-left: 12px;
    margin-top:1px;
}
.info li:nth-child(2) {
    padding: 6px 16px 4px 13px;
    margin-left: 3px;
}
.info li:nth-child(3) {
    padding: 6px 11px 4px 9px;
    margin-left: 3px;
}
.info li:nth-child(4) {
    padding: 6px 11px 4px 9px;
    margin-left: 9px;
}
.info li:nth-child(5) {
    padding: 6px 10px 4px 9px;
    margin-left: 4px;
}
.info li:hover {
    background-color: #1c5e7e;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-top-left-radius: 30px 25px;
    border-bottom-left-radius: 25px 30px;
    border-bottom-right-radius: 30px 25px;
    border-top-right-radius: 25px 30px;
}
.buy:before {
    content: "";
    background: url(../img/backet.png) no-repeat;
    position: absolute;
    height: 23px;
    width: 20px;
    top: 305px;
    left: 900px;
}
.buy {
    margin-left: 573px;
}
.buy li {
    display: inline-block;
    color: #72797d;
    font-family: Arial;
    font-size: 11px;
}
.buy li:nth-child(1) {
    margin: 6px 0 0 26px;
    padding: 0 -1px 0 0;
    font-size: 11px;
}
.buy li:nth-child(2) {
    margin-top: 5px;
    color: #0d5a8f;
    font-size: 13px;
}
.buy li:nth-child(3) {
    margin: 6px 0 0 11px;
    font-size: 11px;
}
.buy li:nth-child(4) {
    margin-left: 5px;
    color: #0d5a8f;
    font-family: Arial;
    font-size: 13px;
}

.sidebar {
    position: relative;
    float: left;
    width: 181px;
    margin: 14px 0 0 216px;
}
.sidebar2 {
    position: relative;
    float: left;
    width: 181px;
    margin: 15px 0 0 9px;
}
.sidebartitle {
    height: 25px;
    border: 1px solid #949fa4;
    border-radius: 12px;
    -webkit-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    position: relative;
}
.sidebartitletext {
    display: inline-block;
    padding: 7px 0px 2px 25px;
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 13px;
}
.sidebartitle img {
    position: absolute;
    margin-left: 2px;
}
.sidebartitle2 {
    border: 1px solid #949fa4;
    border-radius: 12px;
    -webkit-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 3px 8px -4px rgba(0, 0, 0, 1);
    position: relative;
}
.sidebartitletext2 {
    display: inline-block;
    padding: 7px 0px 3px 30px;
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 13px;
}
.sidebartitle2 img {
    position: absolute;
    margin-left: 2px;
}
.filter {
    position: relative;
    margin-top: 15px;
    width: 149px;
    border: 1px solid #949fa4;
    border-radius: 12px;
    }
.filter img {
    position: absolute;
    margin-left: 3px;
}
.filterdisk {
    position: relative;
    width: 149px;
    border: 1px solid #949fa4;
    border-radius: 12px;

}
.filterdisk img {
    position: absolute;
    margin-left: 3px;
}
.filterbolts {
    position: relative;
    width: 149px;
    border: 1px solid #949fa4;
    border-radius: 12px;
    }
.filterbolts img {
    position: absolute;
    margin-left: 3px;
}
.filter2 {
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
    width: 135px;
    border: 1px solid #949fa4;
    border-radius: 12px;
}
.filter2 img {
    position: absolute;
    margin-left: 2px;
}
.sidebarsubtitle {
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 15px;
    display: inline-block;
    padding: 6px 6px 5px 28px;
}
.sidebarli {
    list-style: circle;
    margin-top: 5px;
    padding-left: 50px;
}
.sidebarli li {
    padding-top: 2px;
    padding-bottom: 6px;
}
.sidebarli a {
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding-bottom: 2px;
}
.sidebarli li:hover {
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    text-decoration: underline;
}
.content {
    float: left;
    width: 528px;
    height: 629px;
    background-image: -webkit-linear-gradient(top, #E5E7E8 0%, #93a7b0 100%);
    border-radius: 3px;
    margin: 11px 0 0 10px;
}
.sidebarli2 {
    margin-top: 5px;
    padding: 3px 0px 0px 20px;
}
.sidebar2 button {
    background-color: #195779;
    border-radius: 19px;
    border-style: none;
    margin: 25px 22px;
    box-shadow: 1px 3px 5px 0.00px rgba(0, 0, 0, 0.75);;
}
.sidebar2 button:hover {
    cursor: pointer;
}
.sidebar2 button span {
    color: #e5e9ea;
    font-family: Arial;
    font-size: 13px;
    display: inline-block;
    padding: 5px 5px;
}
.margin {
    margin-left: 14px;
}
span.brand {
    color: #114165;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 13px;
    display: inline-block;
    padding: 0px 0px 2px 3px;
}
span.brand:hover {
    cursor: pointer;
}

.contentwrap {
    width: 100%;
    padding: 0 30px;
}

.item {
    display: inline-block;
    margin: 20px 32px 0 -7px;
}

.item strong {
    display: block;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    color: #206988;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.item span {
    display: block;
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 13px;
    text-align: center;
    color: black;
}

.itemimg {
    background-color: white;
    border: 1px solid #b0b9bc;
    border-radius: 7px;
    display: table;
}

.itemimg img {
    padding: 4px 33px 4px 31px;
    display: table-cell;
}

span.prices {
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 9px;
    color: #114165;
    font: italic 700 18px / 11px Arial, sans-serif;
    transform: scale(0.912,0.912);
}
.item a {
    text-decoration: none;
}

.item a:hover {
    cursor: pointer;
}

.logoswrap {
    width: 900px;
    margin-top: 816px;
    margin-left: 215px;
    margin-bottom: 10px;
    padding: 10px;
}

.logos {
    text-align: center;
    width: auto;
}

.logos img {
    padding-right: 8px;
}

.logos a{
    display: inline-block;
    vertical-align: middle;
}

.logos a:hover {
    cursor: pointer;
}

footer {
    padding-top: 7px;
    width: 910px;
    background-color: #213a4d;
    overflow: hidden;
    margin-left: 218px;
}

a.footerborder {
    border-right: 1px solid transparent;
}

footer ul {
    list-style: none;
    background-color: #213a4d;
}

footer li {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 5px;
}

.footer {
    text-align: center;
}

footer li a {
    background-color: #213a4d;
    color: #bec6c9;
    text-decoration: none;
    font-size: 12px;
    padding: 0 11px;
    border-right: 2px solid #7f8e97;
    line-height: 2px;
    font-family: Arial;
}

footer li a:hover {
    cursor: pointer;
    color: #52abcb;
}

.copyright{
    color: #7f4740;
    font-size: 10px;
    font-family: Arial;
    display: block;
    padding: 9px 0px 49px 0px;
    text-align: center;
}
