*{
    margin: 0;
    padding: 0;
}
body,html {
    height: 100%;
    font-family: "Tahoma";
    background:  rgb(18,138,167);
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
}
.wrapper {
    position: relative;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    display: table;
    table-layout: fixed;
    min-width: 1000px;
}
.w1 {
    display: table-row;
    height: 100%;
}
.background {
    margin-top: 24px;
    background: linear-gradient(to bottom, rgb(65,198,211), rgb(18,138,167));
    height: 100%;
    width: 100%;
    position: absolute;
}
.background:before {
    border-top: 1px solid rgb(249,254,254);
    content: '';
    display: block;
    background: linear-gradient(to bottom, rgb(20,206,225), rgb(249,254,254));
    height: 155px;
    width: 100%;
}   
.header {
    position: relative;
    width: 1000px;
    height: 890px;
    margin: 0 auto;
}
.conteiner {
    width: 1000px;
    margin: 0 auto;
    height: 100%;
}
.logo img {
    display: block;
    float: left;
    width: 30%;
    padding-top: 6px;
    padding-left: 30px;
}
.right-position {
    float: right;
    display: block;
}
.contacts {
    float: right;
    font-size: 14px;
    color: #5fa5bb;
    padding-right: 30px;
    padding-bottom: 15px;
    list-style: none;
}
.contacts a {
    text-decoration: none;
}
.countries li {
    list-style: none;
    display: inline-block;
    padding: 6px;
    text-align: center;
    font-size: 10px;
}
.countries {
    clear: both;
}

.right-position .contacts p {
    padding-top: 10px;
    padding-bottom: 10px;
}
.photo img {
    clear: both;
    display: block;
    width: 100%;
    border-top: 1px solid #138aa7;
    border-bottom: 1px solid #138aa7
}
.nav-menu {
    position: relative;
    border-top: 1px solid rgb(255,255,255);
    
    background: rgb(52,52,52);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}
.nav-menu li {
    position: relative;
    display: inline-block;
    padding: 5px 27px 5px 34px;
}
.nav-menu .dropdown .sub-menu li{
    display: block;
}
.nav-menu a {
    color: rgb(255,255,255);
    font-size: 16px;
    text-decoration: none;
    text-align: left;
    width: 100%;
}
.dropdown > a:after {
    margin: 8px 0px 0px 8px;
    position: absolute;
    display: inline;
    content: '';
    border: 4px solid transparent;
    border-top: 4px solid rgb(255,255,255);
}
.sub-menu {
    display: none;
    position: absolute;
    padding: 0;
    margin: 0;
    background: rgb(52,52,52);
    box-shadow: 0px 7px 10px rgba(0,0,0,0.8);
    text-align: center;
    z-index: 1;
}
.sub-menu a {
    display: inline-block;
    padding-left: 10px;
    padding-right: 50px;
}
.sub-menu li {
    padding-left: 0px;
    padding-right: 5px;
}
.dropdown:hover .sub-menu {
    display: block;
}
.content  {
    width: 100%;
    overflow: hidden;
}
.info {
    width: 25%;
    float: left;
    background: #edeef0;
    padding-top: 5px;
    display: block;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.content h2 {
    text-align: center;
    padding: 5px 0px;
    display: block;
}
.info p {
    text-align: center;
    font-family: Tahoma;
    font-size: 16px;
    padding: 5px;
}
.content-centr {
    width: 50%;
    float: left;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.news {
    width: 25%;
    float: right;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.news p {
    text-align: center;
    font-family: Tahoma;
    font-size: 16px;
    padding: 5px;
}
.footer {
    overflow:hidden;
}
.copyright {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-family: Tahoma;
}